body {
  --bg-color: #f5f5f5;
  --text-color: #242325;
  --accent-color: #8a8aff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--bg-color);
  font-size: 22px;
  color: var(--text-color);
  overflow-x: hidden;
  transition:
    background-color 0.3s,
    color 0.3s;
}
body.dark-theme {
  --bg-color: #242325;
  --text-color: whitesmoke;
  --accent-color: #d0d0f5;
}

h1 {
  margin: 0 auto 15px;
  max-width: 700px;
  font-size: 34px;
}

a {
  color: var(--accent-color);
  transition: color 0.3s;
}

button {
  cursor: pointer;
  user-select: none;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  transition: all 0.3s ease;
}

button:hover {
  color: var(--accent-color);
}

table {
  display: table;
  border-spacing: 2px;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: 0;
}

tbody tr:nth-child(even) {
  background: color-mix(in srgb, var(--accent-color), transparent 80%);
}

th,
td {
  text-align: left;
  padding: 10px;
  line-height: 1;
}

th {
  border-bottom: 2px solid var(--accent-color);
  font-weight: 700;
}

td:not(:first-child) {
  padding-left: 45px;
}

footer {
	text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.where-at {
  border-bottom: 2px dotted var(--accent-color);
}
.where-at:hover {
  border-color: transparent;
}

.resolutions-list {
  margin: 0 auto 30px;
}

.width-header button,
.height-header button,
.portion-header button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.width-header img,
.height-header img,
.portion-header img {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.width-header img.shown,
.height-header img.shown,
.portion-header img.shown {
  opacity: 1;
}

/* Theme toggle button */
.theme-toggle-input {
  display: none;
}
.theme-toggle-inner {
  position: relative;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid #757575;
  width: 100px;
  height: 50px;
  background-color: #f5f5f5;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}
body.dark-theme .theme-toggle-inner {
  background-color: #242325;
  border-color: #d0d0f5;
}
.theme-toggle-inner::before,
.theme-toggle-inner::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  background-repeat: no-repeat;
}
.theme-toggle-inner::before {
  opacity: 1;
  left: 4%;
  width: 42px;
  height: 40px;
  background-image: url('./img/sun.svg');
  transition: opacity 0.3s 0.1s ease-in;
}
body.dark-theme .theme-toggle-inner::before {
  transition: opacity 0.25s 0s ease;
  opacity: 0;
}
.theme-toggle-inner::after {
  opacity: 0;
  right: 11%;
  width: 33px;
  height: 40px;
  background-image: url('./img/half-moon-owl.svg');
  transition: opacity 0.25s 0s ease;
}
body.dark-theme .theme-toggle-inner::after {
  transition: opacity 0.3s 0.1s ease-in;
  opacity: 1;
}
.theme-toggle-ball {
  z-index: 5;
  transform: translateX(50px);
  border-radius: 50%;
  border: 5px solid #f5f5f5;
  width: 40px;
  height: 40px;
  background-color: #757575;
  transition:
    transform 0.3s ease-in-out,
    background-color 0.3s ease,
    border-color 0.3s ease;
}
body.dark-theme .theme-toggle-ball {
  transform: translateX(0);
  background-color: #d0d0f5;
  border-color: #242325;
}

@media (max-width: 1023px) {
  .theme-toggle {
    margin-bottom: 15px;
  }
  .theme-toggle-inner {
    width: 80px;
    height: 40px;
  }
  .theme-toggle-inner::before {
    transform: translateY(-41%);
    left: 4%;
    width: 33.6px;
    height: 40px;
  }
  .theme-toggle-inner::after {
    transform: translateY(-46%);
    right: 11%;
    width: 26.4px;
    height: 32px;
  }
  .theme-toggle-ball {
    transform: translateX(40px);
    border-width: 3px;
    width: 34px;
    height: 34px;
  }
}
@media (max-width: 722px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 28px;
  }
  .theme-toggle-inner {
    margin: 0 auto;
  }
}
@media (max-width: 512px) {
  th,
  td {
    padding: 5px;
  }
}
@media (max-width: 454px) {
  body {
    font-size: 19px;
  }
}
@media (max-width: 414px) {
  body {
    font-size: 18px;
  }
  h1 {
    max-width: 320px;
    font-size: 24px;
  }
  .width-header button,
  .height-header button,
  .portion-header button {
    flex-direction: column;
    justify-content: end;
  }
  td:not(:first-child) {
    padding-left: 7px;
  }
	th, td {
    text-align: center;
	}
	th {
		align-content: flex-end;
	}
}
