body {
	--bg-color: whitesmoke;
  --text-color: #242325;
  --accent-color: #8a8aff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: var(--bg-color);
  font-size: 22px;
  color: var(--text-color);
  overflow-x: hidden;
  transition:
    background-color 0.3s,
    color 0.3s;
}
@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #242325;
    --text-color: whitesmoke;
    --accent-color: #d0d0f5;
  }
}
body.dark-theme {
  --bg-color: #242325;
  --text-color: whitesmoke;
  --accent-color: #d0d0f5;
}

h1 {
  margin: 0 auto 15px;
  max-width: 700px;
  font-size: 34px;
}

a {
  color: var(--accent-color);
  transition: color 0.3s;
}

button {
  cursor: pointer;
  user-select: none;
  border: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  transition: all 0.3s ease;
}

button:hover {
  color: var(--accent-color);
}

table {
  display: table;
  border-spacing: 2px;
  border-collapse: collapse;
  box-sizing: border-box;
  text-indent: 0;
}

tbody tr:nth-child(even) {
  background: color-mix(in srgb, var(--accent-color), transparent 80%);
}

th,
td {
  text-align: left;
  padding: 10px;
  line-height: 1;
}

th {
  border-bottom: 2px solid var(--accent-color);
  font-weight: 700;
}

.container {
  margin: 0 auto;
  max-width: 700px;
  text-align: center;
}

.where-at {
  border-bottom: 2px dotted var(--accent-color);
}
.where-at:hover {
  border-color: transparent;
}

.resolutions-list {
  margin: 0 auto;
}

@media (max-width: 722px) {
  body {
    font-size: 20px;
  }
  h1 {
    font-size: 28px;
  }
}
@media (max-width: 454px) {
  body {
    font-size: 19px;
  }
}
@media (max-width: 414px) {
  body {
    font-size: 18px;
  }
  h1 {
    max-width: 320px;
    font-size: 24px;
  }
}
@media (max-width: 386px) {
  th,
  td {
    padding: 5px;
  }
}